body {
  background: linear-gradient(90deg, #00a9ff, rgba(71, 154, 255, 1), #ff90a8)
}

#root {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-self: flex-start;
  margin-top: 8rem;
}


.search-form {
  display: flex;
  gap: 1em;
  box-sizing: border-box;

}

input {
  width: 60vw;
  border-radius: 7px;
  background-color: #B2B1B3;
  color: black;
  font-size: large;
}

.search-button {
  background-color: #B2B1B3;
  border: black solid 1px;
  color: black;
}

.result-list {
  margin: 0;
  padding: 0;
}

.result-item {
  border: black solid 1px;
  margin: 0;
  padding: 0;
}
.item-name {
  font-size: 1rem;
}

.item-article {
  font-size: 1.25rem;
  margin: 0 0 0 1em;
  text-align: left;
}

.item-link {
  font-size: 1rem;
}


.result-lower-box {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  max-height: 1.5rem;
}


/* This is for the resposive UI */

@media(max-width: 720px) {
  
.search-form {
  flex-direction: column;

}

.search-button {
  width: 17vw;
  align-self: center;

}

input {
  font-size: large;
  padding: .5em;
}

}